[2016-07-28 23:21] bpartridge83 opened #1 "Sync recent updates to npm"
The README mentions `createLogger`, but the most recent version from npm doesn't work as described. The optional params (mac, IP, etc) would be helpful, as well.

[2016-07-29 01:43] respectus commented on #1
Hi @bpartridge83, thanks for bringing this up. I've updated the version on npm and I've corrected the README to state that the MAC/IP and hostname fields are now all optional. Please let me know if the `createLogger` function (or the rest of the logdna module) are not functioning as described in the README.

[2016-07-29 01:43] #1 closed

[2016-07-29 02:38] bpartridge83 opened #2 "`create` vs `createLogger`"
The `createLogger` function is returned from `lib/logger.js`, but it's being assigned to the global space as `create`:

https://github.com/logdna/nodejs/blob/master/index.js#L2

So, this fails:

[code]

But `Logger.create` is working as `createLogger` is documented.

[2016-07-29 02:54] respectus commented on #2
Ah I see, thanks for catching that. I should have tested the module as found on npm. I have edited the index.js file to properly expose the name `createLogger` in the global space. I appreciate the feedback, please don't hesitate to let me know any other improvements I can make. Thanks Brian!

[2016-07-29 19:49] #2 closed

[2016-08-30 19:16] grassick opened #4 "Not logging JSON objects attached to winston log events"
I get one single line (the message) without the JSON objects included

e.g.

![image](https://cloud.githubusercontent.com/assets/1238335/18103444/a42c440c-6ec4-11e6-8c4b-ec57b9dfc383.png)

Each line of the PATCH has tons of JSON that isn't being logged.

(May I add that the low contrast is incredibly hard to read, also)

[2016-08-30 19:17] grassick opened #5 "Truncating log messages"
We have very long messages at times that get truncated in the log viewer:

![image](https://cloud.githubusercontent.com/assets/1238335/18103507/e9bf25a2-6ec4-11e6-9fd4-e7c9c51163eb.png)

Is there a way to turn that off?

[2016-08-30 20:38] respectus commented on #5
Hi @grassick , thanks for your feedback! Currently the npm module doesn't have the ability to stop the truncation. However, if you pull the code in this repo, and run it locally you can have greater control. Specifically if you look at lib/configs.js there is a constant MAX_LINE_LENGTH, currently this is set to 32000, but you can change this to fit your use case. If you'd like to remove the trunca

[2016-08-30 20:40] respectus commented on #4
Hi @grassick , we recently added support for logging JSON objects through winston. I've updated the module on npm. Are you using the latest release? If you are experiencing these issues with release 1.1.1, then could I get your account name? I will attempt to look into the issue for you. Thanks!

[2016-08-30 20:44] #5 closed

[2016-08-30 20:48] leeliu commented on #4
@grassick You can always change the color scheme by clicking on the Gear icon, then User Preferences.

![unknown](https://cloud.githubusercontent.com/assets/1399797/18106403/66c625f8-6eb8-11e6-8783-b8eea111ddf5.png)

[2016-08-30 21:33] grassick commented on #4
Still nothing on 1.1.1. Account name is mWater (development at mwater dot co).

I tried changing themes, but low-contrast seems to be my fate. Perhaps a rendering issue with Lucida font on Linux?

[2016-08-30 22:26] respectus commented on #4
@grassick, Thanks for bearing with us through this. I believe I have resolved the issue in release 1.1.3 on npm. Sorry for being the guinea pig on this, but we appreciate your feedback. You are helping us improve the product! Also as a side note, you can increase the font in the Log Format viewer if that helps. Please let me know if the latest npm release has resolved your issue, thanks again! Als

[2016-08-31 22:43] #4 closed

[2016-09-08 19:23] grassick opened #6 "Does console.log with messages!"
The exclamation mark is because I ended up with over 1GB of log files on the server which left unchecked would have eventually used up all disk space had I not noticed. I think the console.log statements should be removed from the winston code.

[2016-09-08 19:37] respectus commented on #6
So sorry for the issue! I have resolved this and removed the unnecessary statements. I have updated the npm module accordingly. Please let me know if Winston logging is working the way you expect. Sorry for bombarding your server with logs!

[2016-09-08 19:42] #6 closed

[2016-09-26 21:24] cwp opened #7 "Winston dependency"
It would be better to have the winston transport be a separate module, so that non-winston-users don't have add it as an indirect dependency.

Please?

[2016-09-27 14:29] grassick opened #8 "Not handling exceptions"
winston 2.2.0, logdna 1.1.7:

[code]

Doesn't emit errors to the log, it seems. Am I doing something wrong?

[2016-09-27 18:42] respectus commented on #8
Hi thanks for keeping up with the module. Unfortunately, I am unable to reproduce this issue. I have tried this minimal code and I was able to see the appropriate log in my log viewer.

[code]

produces the log

[code]

You can also try this method, to only pass exception logs as specified here:
[winston handleException](https://github.com/winstonjs/winston#exceptions)

[code]

[2016-09-27 19:09] grassick commented on #8
My bad... I hadn't added logdna to handle synchronous node fiber exceptions!

[2016-09-27 19:09] #8 closed

[2016-10-26 17:52] mikehu commented on #7
We'll work on separating this module out for non-winston users and creating a separate winston module.

[2017-01-11 20:24] danawoodman opened #13 "TypeError: _winston2.default.transports.Logdna is not a constructor"
If you follow the readme to setup with Winston it fails with:

```TypeError: _winston2.default.transports.Logdna is not a constructor```

Instead, one should import the constructor and use that:

[code]

The readme should probably be updated accordingly?

[2017-01-11 21:01] respectus commented on #13
Hi @danawoodman, thanks for the feedback. The assumption was that you would also require the logdna module, when using Winston. I should make this more clear and I have updated the README accordingly. Thanks for helping us improve the documentation!

[2017-01-11 21:01] #13 closed

[2017-01-11 21:04] danawoodman commented on #13
@respectus I attempted that as well but it did not fix the issue for me. Are you sure that works?

[2017-01-11 21:51] respectus commented on #13
@danawoodman Yes, I can confirm that this fixes the issue. Would you like to send me the file you are using to test? Here is my configuration:

[code]

[2017-01-11 22:05] danawoodman commented on #13
Strange, this is what I get:

[code]

Perhaps it has to do with Babel reordering imports or something?

[2017-01-11 22:14] respectus commented on #13
@danawoodman Hmm yes this seems to be a strange issue. If the settings you described above in your first comment work well for you, I'll gladly add it to the README with a note about differing configurations. To investigate the issue further could you confirm you have winston version 2.2.0 running? I found a similar issue here: https://github.com/winstonjs/winston-loggly/issues/42

[2017-05-22 05:34] rsweetland opened #14 "Singleton example not working"
My apologies if this is user error...

This doesn't work:

[code]

This does:

[code]

[2017-05-22 18:05] respectus commented on #14
Hi @rsweetland, I've taken a look at the example code you posted and I notice that there is a space in between Logger. and the method setupDefaultLogger. If you use Logger.setupDefaultLogger without a space, and you set your Ingestion Key to the one in your Account Profile you should be able to see log statements. I have tested the code, with the space removed, and it works fine for me. Let me kno

[2017-05-23 21:08] #14 closed

[2017-05-25 00:00] rsweetland commented on #14
@respectus really appreciate the fast response even though this was totally my fault! Just upgraded my LogDNA account (my second paid account with you guys).

[2017-05-25 00:03] respectus commented on #14
No worries, glad I could be of help! Appreciate the feedback, it's the best way for us to improve the product :)

[2017-06-06 14:18] iamdevonbutler opened #15 "Not all logs being delivered on graceful shutdown."
Hey,

I'm using Logdna w/ bunyan. On SIGTERM my logs are being logged to console but don't make it to logdna. I see you have some sort of message buffer. Is there a way to flush it manually or another way to persist the logs to your app?

[2017-06-06 19:55] respectus commented on #15
Hi @iamdevonbutler, thanks for keeping up with this module. I've investigated your issue and there is a prototype function called _flush that can be called on the logger instance, which will manually flush your logs. I also added functionality to the module version 1.2.9, which will automatically flush all messages in existing loggers upon detection of SIGINT or SIGTERM. Please let me know if this

[2017-06-07 06:47] gigafied opened #16 "Node exiting prematurely in 1.2.9"
This is a pretty big deal for me, see comment here: https://github.com/logdna/nodejs/commit/a14e1245a91e9c0e7493e0c6a38f547409ebca1b#diff-212f63e53d7aa8ed04659d1cabd48137R210

[2017-06-07 08:44] #15 closed

[2017-06-07 08:50] respectus commented on #16
Hey appreciate you reporting this. Sorry for the inconvenience, it was a terrible assumption on my part to call process.exit. I've released a new patch which removes the lines in question. Thanks for catching this, please do let me know if you have any issues with version 1.2.10.

[2017-06-07 08:50] #16 closed

[2017-06-07 13:37] iamdevonbutler commented on #15
Nice. that's helpful. I still have a use case that isn't covered.

In scenarios when, let's say, your database connection dies, I want my app to call a shutdown func and manually take itself offline. When I do that, I will need to manually flush the logdna logs, because SIGINT/SIGTERM are never called, but i'm not sure I can as is (the "loggers" closure is not exposed) but I could be wrong tho.

[2017-06-07 18:14] respectus commented on #15
I believe if you have a reference to the logger that you instantiate using createLogger you can call the function _flush on that instance and it will manually flush the log buffer. This can be a bit annoying if you have multiple loggers, so I have exposed a flushAll function in version 1.3.0 that flushes all loggers instantiated. Please let me know if you still have any issues with the module, app

[2017-06-09 01:06] respectus commented on #15
@iamdevonbutler Just wanted to follow up here for a change that will effect your logging setup. I've modified the module so now version 1.3.2 requires that when you instantiate the Logger you pass in the options cleanUpSIGTERM as a boolean set to true, and the option cleanUpSIGINT set to true. Upon SIGINT or SIGTERM the loggers will flush properly and remove references to themselves. We decided it

[2017-06-11 17:18] iamdevonbutler commented on #15
got it thanks.

[2017-06-17 16:40] iamdevonbutler opened #17 "Question: does the logger work client side?"
and if not, is there another client logger?

[2017-06-19 18:44] respectus commented on #17
Hey @iamdevonbutler, thanks for the inquiry, it's definitely an interesting question. I believe it should work on the client side, but I have not yet tested it myself. I'd think there are probably a few ways to include it on the client side, maybe with browserify. Please feel free to import it on the client and test out if it works. I am quite sure it will work as expected, but one important consi

[2017-06-19 18:44] #17 closed

[2017-07-10 23:04] cwp opened #18 "SIGINT handler causes process to hang when interrupted"
Flushing logs on SIGINT and SIGTERM is a nice idea, but since you don't then call `process.exit()` the node process hangs after the logs have been flushed:

https://github.com/logdna/nodejs/blob/master/lib/logger.js#L232

Of course, calling `process.exit()` will also be a problem, because if an app registers its own handler, that probably won't get called since logdna is exiting before the app's h

[2017-07-17 19:11] respectus commented on #18
Hi @cwp , FWIW I agree with you that we should probably not be registering any handlers, and we should just expose a cleanup/flush logs function. A user that wants to flush logs on SIGTERM or SIGINT can do so themselves by calling the cleanup function in their own handler. However, I believe the latest changes in version 1.3.3 attempt to perform a cleanup and then call all other handlers, after wh

[2017-07-17 19:11] #18 closed

[2017-08-11 12:28] rodrigopsasaki opened #20 "LogDNA keeps AWS lambda running until timeout"
I am working on migrating an existing microservice cluster onto a serverless node stack based on AWS Lambda.

I was already using LogDNA before with no problems, but I ran into an issue when writing the lambdas. They all seemed to hang until the timeout, never completing successfully.

After some troubleshooting I figured out that if I set `context.callbackWaitsForEmptyEventLoop` to `true` the lam

[2017-09-05 00:29] shaynair commented on #20
This is likely related to #18

[2017-09-05 00:30] ibnIrshad commented on #20
Yup I've reverted to logdna v1.1 because of this same issue. It's completely unacceptable that logdna hijacks SIGTERM

[2017-09-13 19:21] cwp commented on #20
Calling `cleanUpAll()` before your handler returns will solve this.

[2017-09-13 19:50] cwp opened #21 "When there are no loggers, flushAll() never calls the callback"
This will cause shutdown logic to hang if no logging has been done.

[2017-09-13 23:47] respectus commented on #21
Hey Colin, thanks for reporting this. I've added some logic to the flushAll function to call the callback when there are no loggers. Please let me know if this fix in version 1.3.6 does not resolve the issue and we can revisit it. Appreciate the feedback!

[2017-09-13 23:47] #21 closed

[2017-09-14 19:19] 0505gonzalez opened #22 "SIGINT and SIGTERM don't seem to be working, even after fix"
Logdna keeps our server alive after we try to terminate with SIGINT. Here's Why we think it occurs (steps 1, 2, 3):

[code]

Is there something I'm missing? https://github.com/logdna/nodejs/blob/master/lib/logger.js#L244

[2017-09-14 23:31] respectus commented on #22
Hi @0505gonzalez,
     We've made the decision to remove listening on signals since so many of our users are having issues. The library still exposes a cleanUpAll and cleanUp function, which users can opt-in to using if they so wish. Appreciate the feedback, do let me know if you experience any issues with logdna version 1.4.0, thanks!

[2017-09-14 23:31] #22 closed

[2017-09-14 23:32] respectus commented on #20
Hi all,
          We've made the decision to remove listening on signals since so many of our users are having issues. The library still exposes a cleanUpAll and cleanUp function, which users can opt-in to using if they so wish. Appreciate the feedback, do let me know if you experience any issues with logdna version 1.4.0, thanks!

[2017-09-14 23:32] #20 closed

[2017-09-25 21:41] Halt001 opened #23 "LogDNA Winston Transport in typescript"
How can one use the LogDNA Winston Transport using Typescript? The line
`winston.add(winston.transports.Logdna, options);`
causes:  _Property 'Logdna' does not exist on type 'Transports'_.

Any help is appreciated.

[2017-09-25 22:14] respectus commented on #23
Hi @Halt001,
Thanks for reporting this issue with Typescript. In order to bypass this error, instead of calling `winston.add(winston.transports.Logdna, options);`
using the winston.transports.Logdna object which Typescript isn't able to resolve properly, we can try using the equivalent WinstonTransport object which is exposed in index.js of the logdna module. This is the example configuration I wo

[2017-09-26 17:21] tvhalteren commented on #23
Thanks, that was very helpful. I did use the following syntax to make it work.

[code]

[2017-09-26 17:23] Halt001 commented on #23
Thanks, that was very helpful. I did use the following syntax to make it work.

[code]

[2017-09-26 17:24] #23 closed

[2017-09-26 18:02] respectus commented on #23
Thanks @Halt001 really do appreciate you sharing the Typescript equivalent to resolve this issue!

[2017-11-23 15:39] galioy opened #24 "Sequelize raw object not logged and freezes the whole application"
*Node.js: * `8.9.1`
*logdna: * `^1.4.0`
*bunyan: * `^1.8.12`
*logdna module part: * `BunyanStream`
*sequelize: * `^4.8.4`

*How to reproduce:*
1. Run an application where you use Bunyan and LogDNA's `BunyanStream` sub-module to log, and Sequelize for DB connection.
2. Try log a raw, unformatted Sequelize object

*What happens: *
The log is not executed (the information is not logged and does not r

[2017-11-30 00:20] stringbeans opened #25 "latest 1.4.1 does not work with Node < 6+"
the latest update 1.4.1 does not work in versions of Node below 6x. We are currently using Node 5.12 and logdna fails due to calls to process.emitWarning (this does not exist in Node 5)

[2017-11-30 00:26] respectus commented on #25
Hi @stringbeans,
Thanks for bringing this issue up. I've added a check around the call, so I believe version 1.4.2 will work as expected. We need to issue a Deprecation Warning before we bring in our next major version. Unfortunately this may have affected setups below Node 6x, apologies for the inconvenience. Please do let me know if version 1.4.2 is still causing problems, thanks!

[2017-11-30 00:46] stringbeans commented on #25
@respectus thanks for the quick response! ive seen some repos using the `engine` attribute in the package.json to let users know what engines are supported... so in this case you could just set that attribute to be >= 6

[2017-12-04 19:35] #25 closed

[2018-01-18 17:38] dlferro commented on #7
Is there an ETA for the 2.0 release?

[2018-01-23 02:38] adamreisnz commented on #7
I'd also be keen to know if there's an ETA. I'm looking to implement this in our system soon, and would like to know if I need to hold off and wait for the new version or use the 1.x.x for now.

[2018-01-23 02:45] adamreisnz opened #27 "Is the lodash dependency really needed?"
I've quickly browsed through the code, does this library really need the lodash dependency to do some simple [isString checks](https://github.com/logdna/nodejs/blob/master/lib/logger.js#L25) and to [bind a function to a context](https://github.com/logdna/nodejs/blob/master/lib/logger.js#L171)?

It'd be good to clean this up and remove the dependency in the next major version.

[2018-02-06 02:45] respectus commented on #27
Hi @adamreisnz,

Thanks for bringing this issue up. I've removed the lodash dependency, the isString checks were easy enough to replace, but I did like the isEqual, bind functions so I've imported those. Version 2.0.0 of this module should have less unnecessary dependencies. Do let me know if you experience any issues with the latest version, thanks!

[2018-02-06 02:45] #27 closed

[2018-02-06 02:47] respectus commented on #24
Hi @galioy,

Thanks for bringing this issue up, I've split the bunyan functionality out of this library and it has moved over to logdna-bunyan. Could you try logdna-bunyan out and let me know if you continue to experience the issue described above? If the issue persists we can put it in the logdna-bunyan repo and we'll continue to debug there, thanks!

[2018-02-06 02:51] respectus commented on #7
Hi @cwp,

This one has been on the backburner for awhile, these modules should have been split right off the bat. Thanks for keeping up with this module guys, I hope version 2.0.0 satisfies your use cases. Please do let me know if you guys have any issues with version 2.0.0. Happy Logging!

[2018-02-06 02:51] #7 closed

[2018-02-06 04:52] adamreisnz commented on #27
@respectus thanks for releasing a new version and looking into this, I'll take it for a spin shortly!

[2018-02-06 20:09] cwp commented on #7
Glad to see that 2.0 is on npm! I don't see it here on Github, though. Is it still open source?

[2018-02-06 21:31] respectus commented on #7
@cwp It is definitely open source, thanks for the reminder to push the latest changes! Hope the module doesn't give you any issues :)

[2018-02-06 23:45] cwp commented on #7
Awesome! Thanks for all your work on this!

[2018-02-08 13:05] gvko commented on #24
@respectus I upgraded to `logdna-bunyan` and tested the issue and it is still present. I'll open the issue in the `logdna-bunyan` repo. :)

[2018-02-23 23:47] html5cat opened #28 "Repo naming is a bit confusing"
Right now it says "Fork Node.js", "Fork Ruby", but IMHO it would be better to have LogDNA in the repo name. It might seem repetitive but would make it more clear and better SEO :)

Cheers!

<img width="232" alt="screen shot 2018-02-23 at 3 43 28 pm" src="https://user-images.githubusercontent.com/823890/36622114-65d9ad9c-18b0-11e8-836b-70f177616180.png">

[2018-03-05 02:39] sethlivingston commented on #28
Agreed, and I don't have any interest or need in forking your library right now anyway. :)

[2018-03-07 22:13] sethlivingston opened #29 "Ambient meta"
It would be really helpful to be able to add ambient meta properties to logs, a la Serilog. For example, when handling an incoming HTTP request, it would be great to give that request a correlation ID and have all further logging that occurs on that request include that correlation ID.

[2018-05-03 21:58] dkMorlok opened #32 "Add support for setup tags in options"
it will be nice to have possibility to setup tags in options.

[2018-05-04 01:56] respectus commented on #32
Hi @dkMorlok, thanks for suggesting this change to improve our module. @smusali was kind enough to get a PR in today, which I have merged into version 2.0.2 of the logdna module. Please do let me know if you have any further issues or concerns, thanks!

[2018-05-04 01:56] #32 closed

[2018-05-07 17:59] respectus commented on #28
Appreciate the suggestions, the web team has been informed. I'm going to close the issue on this repo, since it is not directly related to the functionality of the library. Thanks for the feedback!

[2018-05-07 17:59] #28 closed

[2018-05-18 15:21] krazyjakee opened #34 "this.log is not a function"
Logdna v2.0.2
I get this error when running on node:alpine docker container (node 9.x)

[code]

Any idea why this could be happening?

[2018-05-18 18:47] respectus commented on #34
Hi @krazyjakee,
     Appreciate you reporting this issue, I believe this error may be a result of your node version and the es5 syntax used in the library. Interestingly enough we haven't had any complaints yet for an issue with node 9.x. If any node 9.x users could chime in with their experience it would be helpful.

We want to support as many node versions as we can, including many of the older

[2018-07-18 22:23] dansgithubuser opened #37 "flushAll callback never called"
https://github.com/logdna/nodejs/blob/master/lib/logger.js#L238

should be `if (--expectedCallbacks < 1) cb();` or `if (expectedCallbacks-- <= 1) cb();`

[2018-07-18 22:39] respectus commented on #37
Hmm that's weird what version of node are you using? I haven't tested this flushAll extensively, I've pushed a fix to npm logdna version 2.0.4. Do let me know if that works, thanks.

[2018-07-18 22:39] #37 closed

[2018-07-18 22:50] dansgithubuser commented on #37
Was using version 2.0.2. All seems in order now. Thanks for the fast response!

[2018-09-12 10:20] Jolg42 opened #38 "Error: Tags is undefined or not passed as a String"
When using the example from the README, I get this error `Error: Tags is undefined or not passed as a String`
[code]

It works fine with the alternative, as a string with commas.
Maybe you should remove the array method from the README or fix it?

[2018-12-08 10:59] pariola opened #42 "Doesn't work on Zeit's NOW"
I used LogDNA on a Now lambda and after the functions are executed, logs don't show because the function executed completely and the logs aren't pushed. I had to add a delay of 5s for this to work.

Initial Code
[code]
Fix
[code]

also would like to know if the log functions could return a Promise.

[2018-12-23 14:17] #42 closed

[2019-01-03 01:42] makstaks commented on #17
@iamdevonbutler have you confirmed whether this works client-side?

[2019-01-03 04:39] chrisrichard opened #43 "Can't use from browser-based applications"
Now that LogDNA supports whitelisting of CORS domains, enabling ingesting logs directly from the browser, it would be great if this package also supported Browser-based applications via Webpack or Browserify.

I hacked something in to prove it could work but killed the server implementation in the process and wasn't sure the best way to support both between trying to use isomorphic-fetch or handli

[2019-01-29 18:38] exwyezed commented on #42
I'm using zeit.co (v1 here) and I'm experiencing the same issue, logs don't show on LogDNA's dashboard.

[2019-01-31 14:17] pariola commented on #42
@alfonmga Problem is because in **now.sh** the function already finished executing and LogDNA's `flushAll` function hasn't executed yet. So workaround i used was to call the `flushAll` function before sending a response.

[2019-02-12 03:33] olearycrew commented on #38
+1

[2019-02-27 16:22] lgfa29 opened #44 "Unable to turn off `index_meta` on message level"
[The logic to check if the message meta should be index or not](https://github.com/logdna/nodejs/blob/master/lib/logger.js#L144) is causing all messages to be index, even if you specify `index_meta: false` at the message level.

This is because if the `logger` options is set to `index_meta: true`, the condition `this._index_meta || opts.index_meta` will always be true. It should be something like

[2019-03-28 07:21] johnrjj commented on #42
This is still an issue.

[2019-04-03 19:57] #44 closed

[2019-04-03 20:04] respectus commented on #38
Should be resolved in release 3.0.0, thanks for the feedback!

[2019-04-03 20:04] #38 closed

[2019-04-03 20:05] respectus commented on #43
LogDNA version 3.0.0 uses isomorphic-fetch, I believe it can be used with Browserify now.

[2019-04-03 20:05] #43 closed

[2019-04-25 08:44] thorinisme opened #47 "tags array type throw an error"
in readme:

[code]

in code all options are checked by the function `checkParam` which throw an error if `typeof param !== 'string'`

This option should not be checked by `checkParam` just like other options type (cf `index_meta` for example).

[2019-04-25 18:55] smusali commented on #47
Hey @thorinisme,

Thanks for reporting this!

We are going to fix this as soon as possible!

[2019-04-29 19:24] smusali commented on #47
@thorinisme, done in `v3.0.2`!

[2019-04-29 19:24] #47 closed

[2019-05-13 15:16] MartinRoss-IBM opened #49 "Emit events at important points"
Currently when an error occurs, such as on flush, and other points debug is used to output information - ie.
https://github.com/logdna/nodejs/blob/master/lib/logger.js#L254

However, as a user of the library I would like to take action if this occurs - such as emit a custom metric or trigger some operational response if it continues to occur.

A solution would be to emit events:
https://nodejs.org

[2019-05-13 15:19] MartinRoss-IBM opened #50 "Flush limit and interval configurable through options"
The flush interval and limit are currently not programmatically configurable. Could these be configured / overridden through the options object when constructing the logdna client?

[2019-05-24 12:54] MikeKoval opened #52 "Bumped into 400 error without body when tried to use on Client side"
Hi!

Documentation says that I can use lib in browser, right?

My code looks like:

[code]

On network tab of Chrome dev tools I see OPTIONS request with status=200 and another request with status=400 and without response body, so I do not have idea what I did wrongly...
https://prnt.sc/nstdxd

I would like to notify that these code is used in react app and it's built with webpack.

Can you help m

[2019-05-27 02:40] Jaskaranbir commented on #52
Provided your _API Ingestion Key_ is correct, I think you might have to add `localhost:3000` to whitelisted domains [here](https://app.logdna.com/manage/profile).

[2019-05-27 06:10] MikeKoval commented on #52
yes, it worked, thank you :+1:

[2019-05-27 06:10] #52 closed

[2019-06-07 08:25] MikeKoval opened #55 "Client Side for IE11"
Documentation says that I only need to run `browserify main.js -o bundle.js` to make it working in browser. And really when I did it and added my domain to white list (https://github.com/logdna/nodejs/issues/52) it started working fine in Chrome.

But then I realized that it's not working in IE11 (arrow functions issue), I've spent much time to make logger work in IE11, that's why I decided to add

[2019-06-13 12:30] balramkhichar commented on #17
Doesn't work for me with webpack.
![Screenshot 2019-06-13 at 6 00 09 PM](https://user-images.githubusercontent.com/5222604/59432525-264be700-8e05-11e9-8169-08e5c55d7bad.png)

[2019-06-19 22:51] smusali commented on #29
Hi, @sethlivingston, sorry for late response!

Can you give us example for what you would like to see? Thanks in advance!

[2019-06-19 22:53] smusali commented on #34
@krazyjakee, are you still having this issue?

[2019-06-19 23:25] smusali commented on #50
Done by [this PR](https://github.com/logdna/nodejs/pull/58).

[2019-06-19 23:25] #50 closed

[2019-06-20 00:12] smusali commented on #49
@MartinRoss-IBM, can you give an example? Also, since we have updated the codebase after you posted this, links may show the wrong lines.

That'd be great, if you can give us an example and we can think of what we can do for improving this.

Thanks in advance!

[2019-06-21 11:43] sethlivingston commented on #29
It's been a long time since I've used your Node library, but here's the (pseudocode) gist of it:

In the middleware for an incoming request, I can generate a "request ID" and attach it to the log:

    rid = generateRequestId()
    log.addProperty(rid)

Now, anytime I use that log, it will emit the request ID without me explicitly having to pass the value throughout my app.

    log.warning(...)

[2019-07-25 14:18] andyedwardsibm commented on #49
The primary case is for any code in `Logger.prototype._flush()` that would call the callback with an error to also emit an event.  Could this:
- emit an 'error' event with the error message
- emit a 'dropped' event to indicate that logs have been dropped.  I'm assuming this is true as I can't see any retry logic, and `_flush()` clears out the buffer, so it looks like any failing call will lose the

[2019-08-01 15:26] #34 closed

[2019-08-01 15:44] smusali commented on #49
@andyedwardsdfdl that's nice suggestion and thanks for that! We have also been thinking about providing option to buffer the logs into files in the case of network issues - we should discuss and scope out the solution first! Will get back to you asap! Thanks again!

[2019-08-02 19:45] vilyapilya commented on #49
Hi @andyedwardsdfdl thank you again for giving us your feedback. We have fixed this issue in our recent update: https://github.com/logdna/nodejs/commit/8a2a77196b71488160e78b28ba721c6c2820d020

Please reach out to us if you have more questions, concerns or suggestions.

[2019-08-06 19:10] smusali commented on #29
Hi @sethlivingston again,

It's been added in #60 and going to be available in the upcoming release (`v3.3.0`). We will let you know once released.

Thanks for your patience!

[2019-08-06 19:10] #29 closed

[2019-08-07 15:31] smusali commented on #55
@MikeKoval thanks for the note!

[2019-08-07 15:31] #55 closed

[2019-08-08 09:25] andyedwardsibm commented on #49
Sorry to be a pain, but I'm not sure that PR addresses the original concern.  We are actually using https://github.com/logdna/logdna-bunyan.  With https://github.com/logdna/nodejs/commit/8a2a77196b71488160e78b28ba721c6c2820d020 I cannot see how I can be notified of an error.  I don't have the ability to set any of the callbacks that are passed to `_flush` or `flushAll`.

[2019-08-28 06:52] tjoskar opened #68 "Typescript support"
Hi,

I'm using this module with typescript but since there is no typescript definition file I had to create my own:
[code]
Is this something you want to add in to this project?

This can easily be done by creating a new file in this project `types.d.ts` and then add `types: "types.d.ts"` in `package.json`.

I can create a PR if you want.

[2019-08-30 17:33] elsbree opened #69 "Log metadata from different lines being merged"
Since we installed the most recent version of this library, we've been seeing metadata from log lines getting merged (see [issue on logdna-winston](https://github.com/logdna/logdna-winston/issues/12)). I believe this is due to [this](https://github.com/logdna/nodejs/commit/d176cd2f887258b47a957920537a5d94ea3357d6#diff-212f63e53d7aa8ed04659d1cabd48137R201) change from #66.

The line that was added

[2019-09-03 14:27] #69 closed

[2019-09-03 14:36] smusali commented on #69
Thanks, @elsbree, for reporting the bug!

#70 has been merged and the new versions have already been released: [`logdna:v3.3.1`](https://www.npmjs.com/package/logdna), [`logdna-winston:v2.2.3`](https://www.npmjs.com/package/logdna-winston), and [`logdna-bunyan:v1.1.3`](https://www.npmjs.com/package/logdna-bunyan).

[2019-09-03 16:35] andkon commented on #68
Thanks for posting this issue @tjoskar! I've added it to our backlog; if would you be willing to make a PR with those pieces, that'd be much appreciated, as when this comes up to work on on our side, we'll also incorporate this into our CI/CD to make sure it's testable and maintainable in future releases.

[2019-09-05 20:34] tjoskar commented on #68
Do you have any plan of doing so? One option could be to just add a `test.ts` file for testing the types, another option could be to rewrite the tests in typescript and another option could be to rewrite the whole lib in typescript. I can gladly help you in any way if needed.

[2019-09-11 13:56] amrothabet commented on #49
Hey @smusali @vilyapilya we're still trying to figure out how we can provide our own callback to the flush function since currently there is no way to provide it when you create a new logger. It would be great if we can at least provide our own callback in the Logger function:
https://github.com/logdna/nodejs/blob/a8ae4263a75b507fc5be913359113d1c099153b7/lib/logger.js#L45
***
Currently, the callba

[2019-09-12 04:57] vilyapilya commented on #49
@andyedwardsdfdl, @amrothabet I see that you want to have a custom error and exception handling in all cases and not only when you use _flush/flushAll functions directly. We have been considering to enhance our exception handling by giving it further flexibility and we will work on it soon. Currently, our library takes a timeout and retains the logs in the buffer in case of failing to send the log

[2019-09-12 06:51] vilyapilya commented on #49
Actually, I think I overcomplicated. I have created a merge request that adds a callback to logging functionality.

[2019-09-12 09:43] amrothabet commented on #49
@vilyapilya I think having custom error and exception handling would be the perfect thing for us so that we could identify what specific issue occurred during logging and handle it specifically.

Adding a callback to the logging functionality allows us to know that an issue occurred during flushing, but not what specifically happened wrong (unless we pattern match the error message, which wouldn't

[2019-09-23 09:27] amrothabet commented on #49
@smusali @vilyapilya Any updates on this issue please?

[2019-10-05 00:19] pnavarrc commented on #42
Confirmed, this is still an issue. I tried calling `flushAll` before sending the response and they are not getting to LogDNA. I set `NODE_DEBUG=logdna` to diagnose the issue and I'm getting the following logs:

[code]

This is what I tried. I do get the response, but the log doesn't appear in the LogDNA dashboard

[code]

[2019-10-17 13:54] guidolodetti commented on #42
Hi @pnavarrc! I was experiencing the same problems. I looked into the library code and I have found a bug which caused the `flushAll` callback to be called immediately instead of waiting for all the loggers to be flushed. I have made a pull request (#76) to fix the bug.

Meanwhile, if you are using a single logger you can do the following. Add a new `flush` function to the logger object:
[code]

W

[2019-10-17 21:32] pnavarrc commented on #42
Hi @guidolodetti! I implemented something like that on my logger module, I will wait for the next release and confirm if it works well. Thanks!

[2019-12-02 20:14] mvasigh opened #86 "Chrome & Safari: Refused to set unsafe header "user-agent""
## Description
This library sets the `user-agent` header on each request. In the browser (Chrome and Safari specifically) this triggers an error logged from XHR's `setRequestHeader()` as Chrome and Safari treat `user-agent` as a forbidden header name:

Example (Chrome):
<img width="550" alt="Screen Shot 2019-12-02 at 2 10 14 PM" src="https://user-images.githubusercontent.com/13258203/69991532-7c28

[2019-12-02 20:17] mvasigh commented on #86
I opened a PR that doesn't set `user-agent` altogether in the browser, not sure if this is an adequate solution but it's there in case it is.

[2019-12-04 03:18] #86 closed

[2019-12-20 10:19] Katsuyu opened #89 "Unable to resolve the 'utils' module with metro-bundle"
Hello,

I'm currently trying to change my log system from logz.io to logDNA on my react-native application.

After creating a Logger just like in the README.md of the repo, I try to log a simple message with a valid JSON as metadata.
![Screenshot from 2019-12-20 10-50-18](https://user-images.githubusercontent.com/38114297/71246750-9b016000-2317-11ea-99ac-a58177a34438.png)

But when I launch my app

[2019-12-20 12:23] Katsuyu commented on #89
After several tests, It seems that the library can't be used on a React-native app, maybe I'm doing something wrong ?

[2019-12-20 21:31] vilyapilya commented on #89
@Katsuyu thank you for reaching out to us with your problem! We will work on making our service to be more suitable to use in react-native applications. Meanwhile, you can probably work around by installing `util` manually from this package https://www.npmjs.com/package/util as it is suggested here https://github.com/moment/luxon/issues/318.  Thank you again for using LogDNA and we are looking for

[2020-01-02 22:46] vilyapilya commented on #49
@amrothabet the issue is addressed in the current code.

[2020-01-28 16:06] andyedwardsibm commented on #49
@vilyapilya could you help us understand the latest code?  As we understand it, there is now a `flushAll()` command that will flush messages, but there is still no programmatic interface that would tell us when something has gone wrong and that we would need to call `flushAll()`.

The core problem was that there is no programmatic way of knowing if something has gone wrong, and so we cannot plug i

[2020-01-30 19:26] zelias500 commented on #68
Recently installed this package via NPM, but it appears as though the types file is not included in the distributed node module package. I can work around this for now, but it's likely to cause issues during CI/CD processes down the line.

Can you guys update the available NPM package to include the types declaration :) ?

[2020-02-21 23:43] smusali commented on #68
@zelias500 @tjoskar, we have just released [the newest version](https://www.npmjs.com/package/logdna) containing `typescript` support (i.e. including types declaration).

[2020-02-21 23:43] #68 closed

[2020-05-08 18:51] jontonsoup opened #95 "Listener Leak"
Hi,

I'm getting a listener leak when I use the logger. I've attached a chrome performance monitor snapshot.

The "ingest" blocks stand for:

<img width="816" alt="image" src="https://user-images.githubusercontent.com/845636/81439045-c1476100-913b-11ea-8687-d90dde3b7fdc.png">

<img width="1355" alt="image" src="https://user-images.githubusercontent.com/845636/81438853-72013080-913b-11ea-963a-adf52

[2020-05-16 22:25] mtrabelsi commented on #86
it is also making API calls takes longer to finished (due to throwing and catching guess )

[2020-07-17 14:44] darinspivey commented on #49
Hi, @andyedwardsdfdl , sorry this response is late considering the history of this issue.  Our logger client is about to undergo some much needed "spring cleaning" where we can address things like this.  I see no reason that the `Logger` can't be an `EventEmitter` and give you what you need.  With the way that it buffers and retries, the use of callbacks doesn't work in all cases, so an emitter wo

[2020-07-17 14:48] darinspivey commented on #89
@Katsuyu sorry this issue has been open for a while, so I wanted to follow up.  Although this is a platform issue (with 'util' not existing), we may be able to address it by removing the `debug` logger which relies on `util`.  I believe that's the only thing using it.

This code will be undergoing some "spring cleaning", so stay tuned for possible updates that fix your issue.

[2020-07-17 14:52] darinspivey commented on #95
Hi @jontonsoup, thanks for showing us your findings!  We are about to release an update to this code that will improve efficiency and clean a few things up (it will be a `major` despite the changes being somewhat minor in nature).  First, a patch release will be going out shortly with 100% test coverage, so that's a good place to start.  After the `major` release, it'd be great if you could re-run

[2020-07-20 14:11] jontonsoup commented on #95
thanks! Will do.

[2020-07-23 15:58] rrutsche opened #100 "No meta object without "index_meta: true" but parsing error with "index_meta: true" if meta object contains "data"-key"
These are actually two issues:

**First one** - we cannot see a meta object in the logs if we don't set `index_meta` to `true`. This worked before with the same setup.

How to reproduce:
[code]

**Second one** - setting `index_meta` to `true` solves the behaviour described above. But it produces a parsing error if the meta object contains an object called `data`.

How to reproduce:
[code]

[2020-07-24 18:31] matt-march commented on #100
Thanks for reporting these issues @rrutsche . I can reproduce the first issue and am following up to figure out what's happening there.

I'm currently unable to reproduce the second issue. Can you let me know:
- Which version of the nodejs client you're using
- Where you're getting the parsing error

[2020-07-29 12:01] dkMorlok commented on #100
Confirm, first issue is reproducible.
If i try to send "data" in meta there is no problem. I can see logs in web application.

[2020-07-29 13:34] rrutsche commented on #100
Hi @matt-march thanks for your response,
We are using version `3.5.1`. The parsing error is visible in the log view, after expanding the log in the dashboard. In this case data was just an empty object. It occurred in combination with `index_meta: true`.

![Screenshot 2020-07-29 at 15 32 19](https://user-images.githubusercontent.com/1104171/88806483-c7843100-d1b0-11ea-84cb-b79209f936ff.png)

[2020-08-06 13:21] matt-march commented on #100
Hi @rrutsche we've got a fix for issue 1 waiting to be released. Issue 2 will require some more digging.

[2020-08-06 13:24] rrutsche commented on #100
Awesome. Thanks a lot.

[2020-08-10 07:37] gbiryukov opened #101 "Allow to pass `ip` and `tags` into `log()` method"
We write our node server access log with LogDNA. For each request to this http server, we trace `ip` address of the remote client, URL, status code and so on.
This forces us to create new logger for each request because `ip` address is bound to the instance. All these instances are hard to manage and inefficient. Ability to specify `ip` at `log()` call would allow to use single instance in cases l

[2020-08-10 14:42] darinspivey commented on #101
Hi there!  I see no reason we can't accommodate this in the upcoming 4.x release.  Once the initial release lands, this can be its first enhancement.  That'll help us maintain a good history between the refactor and this new feature.  Thanks!

[2020-08-14 16:03] matt-march commented on #100
Hi again @rrutsche. The fix for issue 1 should be released now.

[2020-08-21 10:34] jjalan opened #103 "Using LogDNA in Electron"
Hello,

I have an electron app that is bundle with React application. I am trying to use logDNA from inside React views on Electron.

It works fine during development as Electron serves the react application via a local dev server as long as I have `http://localhost` in the whitelisted domain in the settings on LogDNA.

However, electron app simply serves the React index.html via `file://` in prod

[2020-08-25 18:38] darinspivey commented on #49
@andyedwardsdfdl our new client has been released.  I think you'll find that the EventEmitter it implements is what you need.  Please refer to the README in our new package, [@logdna/logger](https://www.npmjs.com/package/@logdna/logger)

Feel free to open any issues under that new repository.  Thanks!

[2020-08-25 18:38] #49 closed

[2020-08-25 18:39] darinspivey commented on #95
@jontonsoup , our new client has been released. Please refer to the README in our new package, [@logdna/logger](https://www.npmjs.com/package/@logdna/logger), and let us know if you still see leaks.

Feel free to open any issues under that new repository.  Thanks!

[2020-08-25 18:39] #95 closed

[2020-08-25 18:40] darinspivey commented on #89
@Katsuyu our new client has been released, and it no longer has the `utils` module that was causing your issue.  Please refer to the README in our new package, [@logdna/logger](https://www.npmjs.com/package/@logdna/logger)

Feel free to open any issues under that new repository.  Thanks!

[2020-08-25 18:40] #89 closed

[2020-08-25 18:42] darinspivey commented on #100
@rrutsche, gonna close out this as it appears to be resolved.  Also, our new client has been released, so you may want to upgrade.  Please refer to the README in our new package, [@logdna/logger](https://www.npmjs.com/package/@logdna/logger)

Feel free to open any issues under that new repository.  Thanks!

[2020-08-25 18:42] #100 closed

[2020-08-25 20:39] mdeltito commented on #103
Hi @jjalan, thanks for reaching out

In the context of an Electron app, one option would be to exclude the `Origin` header for the logdna.com domain. You can do this with the `onBeforeRequest` method:

https://www.electronjs.org/docs/api/web-request#webrequestonbeforerequestfilter-listener

With the origin set to `null` we will not check for whitelisted domain(s) to apply CORS headers for in the r

[2020-08-26 09:41] jjalan commented on #103
@mdeltito,

Thanks. That works. For future reference, here is full snippet to include in Electron app:

[code]

[2020-08-26 09:42] #103 closed

[2020-08-26 13:11] darinspivey commented on #103
Excellent, we're glad the suggestion worked.  While you're at it, we just released a [new version of the node client](https://www.npmjs.com/package/@logdna/logger) that you should try out.  Thank you, and let us know if we can help in the future.

[2020-10-28 02:14] adamreisnz opened #105 "Colours no longer coming through"
Does the 2.x.x version of the NodeJS logger no longer support colours?
Everything is coming in mono and colours appear to be stripped from our logs.

With the old logger we were able to capture colours in our logs (e.g. using `chalk`)

[2020-10-28 14:33] darinspivey commented on #105
To be clear, you're talking about 2.0 from[ this repository](https://github.com/logdna/logger-node)?  To my knowledge, we never did anything specific with chalk or color codes in either client.  Are you speaking about seeing the colors in the UI?  Can you describe what you're expecting a bit more please?

[2020-10-28 21:16] adamreisnz commented on #105
I am talking about the package `logdna` compared to `@logdna/logger`.

With logdna:

![image](https://user-images.githubusercontent.com/490562/97497525-7eba5f00-19cf-11eb-9fe7-0e1e9ec36790.png)

Note the colours in the lines and note how the type is lowercase e.g. `debug`, `trace`

With @logdna/logger (exact same code otherwise):

![image](https://user-images.githubusercontent.com/490562/97497648-

[2020-10-29 14:54] darinspivey commented on #105
Thank you for the details, that's very helpful.  These appear to be differences with how the UI is interpreting the log entry submissions.  Other than the upper-cased level, we will have to investigate on the server why these are coming out differently.  Of course, we are happy to address this rather than you using a deprecated and now unsupported version.  The new logger was a complete re-write,

[2020-10-29 21:15] adamreisnz commented on #105
Great, thanks for looking into it.

Our implementation is pretty straightforward. Simplified example:

[code]

[2021-12-02 16:13] hamboomger opened #108 "Add option to only print out logs in the console"
Is there a way to NOT send out the logs to the LogDNA platform and just print them in the console? Basically I don't want to send out logs in test or local environment, but I still want to see them in the console.

[2021-12-02 19:59] darinspivey commented on #108
Hi!  Thanks for submitting an issue, however [this project was deprecated](https://github.com/logdna/nodejs#deprecation-notice) over a year ago.  You should seriously consider upgrading to our supported logger, `@logdna/logger`.

That being said, your request is a bit confusing.  The node logger doesn't log anything to `console`, but if you're suggesting to add that, and to have it be turned on/of

[2021-12-03 14:59] hamboomger commented on #108
@darinspivey maan this is so dumb, I accidentally left an issue here instead of the `@logdna/logger` one. Big props for using the `@logdna/logger` dep in your response anyways, I'll try it out in my scenario :) Really appreciate your response!

[2021-12-03 15:04] hamboomger commented on #108
Oh, but you are also one of the main contributors for the `@logdna/logger` repository, so I guess your response was actually about the `@logdna/logger`, right?

[2021-12-03 17:15] darinspivey commented on #108
That is correct. We are no longer supporting the old one as it is deprecated. Glad we could help. Good luck! Feel free to close this issue if you feel that this is sufficient.

[2021-12-03 17:17] darinspivey commented on #108
Just to add some more notes for anyone else that might read this, our logger is not a true  console "logger" that respects log levels during output. It's specifically for our platform, and we ingest all lines regardless of level. So, you may want to replace console.log with something like pino, which would respect the log level and only print if necessary. That would be more one-to-one with what y

[2021-12-03 20:35] #108 closed

[2022-02-04 15:34] darinspivey opened #110 "Replace CirlcleCI with Jenkins"
We need to keep this repository up-to-date enough with CI to ensure that we can apply patches.  Synk has identified that Axios needs to be upgraded.

* Change to Jenkins

[2022-02-04 15:38] darinspivey opened #111 "Bump Axios to > `0.25.0`"
Synkbot has recommended upgrading Axios due to some bug/security patches.  We will do this manually in a new issue since the recommendation was blocked by #110

[2022-02-04 18:58] #110 closed

[2022-02-04 18:58] #111 closed